<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<nav th:replace="layout :: header"></nav>

<div class="container main-content list">
	<div th:if="${success}" class="row alert alert-success alert-dismissible">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<span th:text="${success}"></span>
	</div>

	<th:block th:if="${#lists.isEmpty(customers)}">
		<h3>No customer</h3>
	</th:block>

	<th:block th:unless="${#lists.isEmpty(customers)}">
		<div class="row">
			<a th:href="@{/customer/create}" class="btn btn-success pull-left">
				<span class="glyphicon glyphicon-plus"></span> Add new customer
			</a>
			<form class="form-inline pull-right" action="#" th:action="@{/customer/search}" method="GET">
				<div class="form-group">
					<input type="text" class="form-control" name="searchs"
						   placeholder="Type customer..." />
				</div>
				<button type="submit" class="btn btn-primary">Search</button>
			</form>
		</div>
		<div class="row">
			<table class="table table-bordered table-hover">
				<thead>
				<tr>
					<th>Cust_id</th>
					<th>address</th>
					<th>city</th>
					<th>cust_type_cd</th>
					<th>fed_id</th>
					<th>postal_code</th>
					<th>state</th>
                    <th>individual</th>
                    <th>bussines</th>
                    <th>Edit</th>
                    <th>Delete</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="customer : ${customers}">
					<td th:text="${customer.cust_id}"></td>
					<td th:text="${customer.address}"></td>
					<td th:text="${customer.city}"></td>
					<td th:text="${customer.cust_type_cd}"></td>
					<td th:text="${customer.fed_id}"></td>
					<td th:text="${customer.postal_code}"></td>
					<td th:text="${customer.state}"></td>
					<td><a th:href="@{/customer/{cust_id}/ind(cust_id=${customer.cust_id})}"><span class="glyphicon glyphicon-pencil"></span></a></td>
					<td><a th:href="@{/customer/{cust_id}/bus(cust_id=${customer.cust_id})}"><span class="glyphicon glyphicon-pencil"></span></a></td>
					<td><a th:href="@{/customer/{cust_id}/edit(cust_id=${customer.cust_id})}"><span class="glyphicon glyphicon-pencil"></span></a></td>
					<td><a th:href="@{/customer/{cust_id}/delete(cust_id=${customer.cust_id})}"><span class="glyphicon glyphicon-trash"></span></a></td>
				</tr>
				</tbody>
			</table>
		</div>
	</th:block>
</div>
<!-- /.container -->

<footer th:replace="layout :: footer"></footer>
</body>
</html>

