
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Login Page</title>
<link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
	<div class="main-content">
		
		
        <h1>Login to continue</h1>
		<form th:action="@{/login}" method="POST">
			<input type="text" th:object="${user_name}"placeholder="Username" /><br />
			<input type="password" th:object="${password}" placeholder="Password" /><br />
			<button type="submit">Login</button> <br />
		</form>
	</div>
</body>
</html>