<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<nav th:replace="layout :: header"></nav>

<div class="container main-content list">
    <div th:if="${success}" class="row alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span th:text="${success}"></span>
    </div>

    <th:block th:if="${#lists.isEmpty(producttypes)}">
        <h3>No producttypes</h3>
    </th:block>

    <th:block th:unless="${#lists.isEmpty(producttypes)}">
        <div class="row">
            <a th:href="@{/producttype/create}" class="btn btn-success pull-left">
                <span class="glyphicon glyphicon-plus"></span> Add new producttype
            </a>
            <form class="form-inline pull-right" action="#" th:action="@{/producttype/search}" method="GET">
                <div class="form-group">
                    <input type="text" class="form-control" name="searchs"
                           placeholder="Type producttype name..." />
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
        <div class="row">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>product_type_cd</th>
                    <th>Name</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="productType : ${producttypes}">
                    <td th:text="${productType.productTypeCd}"></td>
                    <td th:text="${productType.name}"></td>
                    <td><a th:href="@{/producttype/{productTypeCd}/edit(productTypeCd=${productType.productTypeCd})}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                    <!--<td><a th:href="@{/producttype/{productTypeCd}/delete(productTypeCd=${producttype.productTypeCd})}"><span class="glyphicon glyphicon-trash"></span></a></td>-->
                    <td><a data-toggle="modal" data-target="#modal-warning"
                           th:attr="data-target='#modal-warning'+${productType.productTypeCd}"><span
                            class="glyphicon glyphicon-trash"></span></a></td>
                    <div class="modal modal-warning fade in" th:id="modal-warning+${productType.productTypeCd }">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span></button>
                                    <h5 class="modal-title">Delete ProductType</h5>
                                </div>
                                <div class="modal-body">
                                    <h3>Are you sure want to delete this ProductType?</h3>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                                    <a type="button" class="btn btn-outline"
                                       th:href="@{/producttype/{productTypeCd}/delete(productTypeCd=${productType.productTypeCd})}"><i
                                            class="fa fa-check"></i>&nbsp;Yes</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </tr>
                </tbody>
            </table>
        </div>
    </th:block>
</div>
<!-- /.container -->

<footer th:replace="layout :: footer"></footer>
</body>
</html>

